canvas {
	padding-left: 0;
	padding-right: 0;
	margin-left: auto;
	margin-right: auto;
	display: block;
	border: 2px solid black;
	-moz-box-shadow: black 2px 2px 2px;
	background-color: white;

	-webkit-touch-callout: none !important;
	-webkit-user-select: none !important;
	-khtml-user-select: none !important;
	-moz-user-select: none !important;
	-ms-user-select: none !important;
	user-select: none !important;

}

body {
	-webkit-touch-callout: none !important;
	-webkit-user-select: none !important;
	-khtml-user-select: none !important;
	-moz-user-select: none !important;
	-ms-user-select: none !important;
	user-select: none !important;
	-webkit-text-size-adjust: none !important;
	-webkit-appearance: none;
	text-align: center;
	overflow: hidden;
}

div {
	-webkit-touch-callout: none !important;
	-webkit-user-select: none !important;
	-khtml-user-select: none !important;
	-moz-user-select: none !important;
	-ms-user-select: none !important;
	user-select: none !important;
}

span {
	-webkit-touch-callout: none !important;
	-webkit-user-select: none !important;
	-khtml-user-select: none !important;
	-moz-user-select: none !important;
	-ms-user-select: none !important;
	user-select: none !important;
}

.statusBarLink {
	text-decoration: none;
}
.statusBarLink:hover {
	text-decoration: underline;
}

#touchBar {
	margin: 0 auto;
	border: 1px solid black;
	text-align: center;
	display: none;
	background-color: #eeffee;
	overflow: hidden;
}

#startOnMobile {
	display: none;
	width: 100%;
	height: 100%;
	background: url("data/rabbit/drawing2.svg") no-repeat;
}
