<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
 package="rabbitgame.net.humphrey"
 versionCode="1.21.2"
 versionName="omega">
    <uses-sdk android:minSdkVersion="19"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <application android:label="Humphrey the Rabbit"
        android:icon="@drawable/icon">
        <activity android:name=".MainActivity"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"
        >
             <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
             </intent-filter>
        </activity>
    </application>
</manifest>
